<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">
  
   
   <context:property-placeholder location='classpath:sport.properties'/>
   <bean id="myCoach"
   		class = "com.meetu.springdemo.CricketCoach">
   		<!-- constructor injection -->
   		<constructor-arg ref="myDietService" />
   </bean>
   
   
   <bean id="baseballCoach"
   		class = "com.meetu.springdemo.BaseballCoach">
   		<!-- Setter injection -->
   		<property name="dietService" ref="myDietService" />
   		
   		<!-- literal injection -->
   		<property name="team" value="ABC Corp" />
   		
   		<!-- literal injection using property file -->
   		<property name="email" value="${sport.email}" />
   </bean>
   
   
   <bean id="myDietService"
   		class = "com.meetu.springdemo.ProteinDietService">
   </bean>
   
   </beans>